MyPd=xxxxx
MyChannel=xxxx
DATABASE_URL=postgres://postgres:12345!@127.0.0.1:5432/bots
DJANGO_SECRET_KEY=SKHJrtJL7jAbsSrPTYEfyAvXRu6sgukO7yOIyajRAiRwZpihMdhhpYwGgRlgzszxcdsffddsf
REDIS_URL=redis://127.0.0.1:6379
PROXY_SERVER={"host":"127.0.0.1","port":8080, "username": "root", "password":"123456"}
